@()

@main("EarthOne", "rainfall") {
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="mt-5">Rainfall</h1>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Station</th>
              <th scope="col">Last updated</th>
              <th scope="col">Precipitations (mm)</th>
              <th scope="col">Forecast +1h</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Wisła 1</th>
              <td>2020-01-22 18:00</td>
              <td>23</td>
              <td>24</td>
            </tr>
            <tr>
              <th scope="row">Wisła 1</th>
              <td>2020-01-22 18:00</td>
              <td>23</td>
              <td>24</td>
            </tr>
            <tr>
              <th scope="row">Wisła 1</th>
              <td>2020-01-22 18:00</td>
              <td>23</td>
              <td>24</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
}
